body{
    font-family: 'Poppins', sans-serif;
}
.slide{
    position: relative;
    text-align: center;
}
.slide-img{
    width: 100%;
    height: 650px;
}
.slide h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200px);
    color: white;
    font-size: 50px;
}
.slide h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20px);
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.donate-btn{
    position: absolute;
    top: 60%;
    left: 43.5%;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
    background-color: #ff5959;
    border: none;
    border-radius: 5px;
}
.donate-btn:focus{
    cursor: pointer;
}
.donate-today{
    margin-top: 100px;
}
.donate-today h1{
    text-align: center;
    font-size: 40px;
}
.donate-today h3{
    text-align: center;
    font-weight: 400;
    color: rgb(136, 131, 131);
}
.donate-today h4{
    text-align: center;
    font-weight: 300;
}
.donate-amount{
    display: flex;
    list-style: none;
    padding-left:  25%;
    padding-right: 25%;
    
}
.donate-amount li{
    padding: 35px 20px;
    margin: 5px;
    font-weight: 800;
    font-size: 30px;
    background-color: #fafafa;
}
#li-200{
    background-color: #ffeeee;
    border: 3px solid #ff9393;
    border-radius: 5px;
}
#line{
    width: 55%;
    text-align: center;
    margin-left: 24%;
}
.donate-today-btn{
    text-align: center;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
    background-color: #ff5959;
    border: none;
    border-radius: 5px;
    margin: 20px 40% 20px 45%;
    position: absolute;
}
.donate-today-btn:focus{
    cursor: pointer;
}
.donate-plan{
    margin-top: 200px;
}
.donate-plan h1{
    text-align: center;
    font-size: 40px;
}
.donate-plan h3{
    text-align: center;
    font-weight: 400;
    color: rgb(136, 131, 131);
}
.all-donate-plan{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.food{
    padding-left: 20px;
    margin: 10px;
    border: 0;
    height: 300px;
    border-radius: 5px;
    background-color: #edf5f6;
}
.food img{
    padding-top: 40px;
}
.shelter{
    padding-left: 20px;
    margin: 10px;
    border: 0;
    height: 300px;
    border-radius: 5px;
    background-color: #ffeeee;
}
.shelter img{
    padding-top: 40px;
}
.education{
    padding-left: 20px;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    height: 300px;
    background-color: #fff4d6;
}
.education img{
    padding-top: 40px;
}
section{
    display: flex;
    padding-top: 100px;
    margin-left: 10%;
    margin-right: 10%;

}
.blog-text{
    width: 50%;
    padding-right: 50px;
}
.blog-text h1{
    font-size: 40px;
}
.blog-text p{
    font-weight: 400;
    color: rgb(136, 131, 131);
}
.relief{
    width: 50%;
    height: 500px;
}
.how-donate-btn{
    padding: 15px 20px;
    font-size: 20px;
    color: white;
    background-color: #ff5959;
    border: none;
    border-radius: 5px;
}
.how-donate-btn:focus{
    cursor: pointer;
}
.my-updates{
    margin-top: 100px;
}
.my-updates h1{
    text-align: center;
    font-size: 40px;
}
.my-updates h3{
    text-align: center;
    font-weight: 400;
    color: rgb(136, 131, 131);
}
.subscribe{
    width: 50%;
    height: 200px;
    margin-left: 25%;
    background-color: #fff4d6;
}
.subscribe input{
    padding: 15px 40px;
    font-size: 15px;
    border: none;
    margin-top: 70px;
    margin-left: 30%;
    background-color: #d9d9d9;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.subscribe input:focus{
    outline: none !important;
}
.subscribe-btn{
    padding: 15px 20px;
    font-size: 15px;
    color: white;
    background-color: #ff5959;
    border: none;
    margin: -5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.subscribe-btn:focus{
    cursor: pointer;
}
footer{
    height: 150px;
    color: #ff5959;
    text-align: center;
    font-style: italic;
    padding-top: 20px;
    background: #000;
    margin-top: 100px;
}
footer h1{
    font-family: 'Lobster', cursive;
}
footer h4{
    color: gray;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
}